<h2 class="mb-4">Add your Doctor</h2>
<div class="card">
  <div class="card-body">
    <form (ngSubmit)="addMedecin()" class="row g-3">

      
      <div class="col-md-6">
        <label for="prenom" class="form-label">First Name</label>
        <input type="text" name="prenom" [(ngModel)]="medecin.prenom" class="form-control" id="prenom" required #prenom="ngModel">
        <!-- Error message -->
        <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="text-danger mt-1">
          <div *ngIf="prenom.errors?.required">First Name is required.</div>
        </div>
      </div>
      
      <div class="col-md-6">
        <label for="nom" class="form-label">Last Name</label>
        <input type="text" name="nom" [(ngModel)]="medecin.nom" class="form-control" id="nom" required #nom="ngModel">
        <!-- Error message -->
        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="text-danger mt-1">
          <div *ngIf="nom.errors?.required">Last Name is required.</div>
        </div>
      </div>

      
      <div class="col-md-6">
        <label for="specialite" class="form-label">Specialty</label>
        <select 
          name="specialite" 
          [(ngModel)]="medecin.specialite" 
          class="form-select" 
          id="specialite"
          #specialite="ngModel">
          <option value="" disabled selected>Select Specialty</option>
          <option *ngFor="let specialty of specialites" [ngValue]="specialty">{{ specialty }}</option>
        </select>
        <!-- Error message -->
        <div *ngIf="!medecin.specialite  && specialite.touched" class="text-danger mt-1">
          <div>You must select a specialty</div>
        </div>
      </div>

      
      <div class="col-md-6">
        <label for="anneesExperience" class="form-label">Years of Experience</label>
        <input type="number" name="anneesExperience" [(ngModel)]="medecin.anneesExperience" class="form-control" id="anneesExperience" required #anneesExperience="ngModel">
        <!-- Error message -->
        <div *ngIf="anneesExperience.invalid && (anneesExperience.dirty || anneesExperience.touched)" class="text-danger mt-1">
          <div *ngIf="anneesExperience.errors.required">Years of Experience is required.</div>
          <div *ngIf="anneesExperience.errors.pattern">Please enter a valid number for Years of Experience.</div>
        </div>
      </div>
      
      <div class="col-md-6">
        <label for="specialite" class="form-label">Service ID</label>
        <select 
          name="idService" 
          [(ngModel)]="selectedService" 
          class="form-select" 
          id="idService"
          #idService="ngModel">
          <option value="" disabled selected>Select Service</option>
          <option *ngFor="let service of services" [ngValue]="service">{{ service.idService }} : {{service.nomService}}</option>
        </select>
        <!-- Error message -->
        <div *ngIf="!selectedService  && idService.touched" class="text-danger mt-1">
          <div>You must select a specialty</div>
        </div>
      </div>


      
      <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>

