<h2 class="mb-4">Delete Doctor</h2>
<div class="card">
  <div class="card-body">
    <p class="mb-4">Are you sure you want to delete this Doctor?</p>
    <div class="row">
      <div class="col-md-6">
        <button mat-raised-button color="warn" class="btn-delete" (click)="deleteMedecin()">Delete</button>
      </div>
      <div class="col-md-6">
        <button mat-raised-button color="primary" routerLink="/medecins">Cancel</button>
      </div>
    </div>
    <mat-snack-bar *ngIf="isDeleted" [class.success-message]="isDeleted">Doctor deleted successfully!</mat-snack-bar>
  </div>
  
</div>


