<div class="container">
  <div class="header">
    <h2>List of Doctors</h2>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Spécialité</th>
            <th>Années d'expérience</th>
            <th>Service ID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medecin of medecins">
            <td>{{ medecin.idMedecin }}</td>
            <td>{{ medecin.prenom }}</td>
            <td>{{ medecin.nom }}</td>
            <td>{{ medecin.specialite }}</td>
            <td>{{ medecin.anneesExperience }}</td>
            <td>{{ medecin.idService }}</td>
            <td class="action">
              <button
                class="update-btn"
               mat-raised-button color="primary" [routerLink]="['/medecins/update', medecin.idMedecin]">Update</button>
              <button
              class="delete-btn" 
              mat-raised-button color="warn" [routerLink]="['/medecins/delete', medecin.idMedecin]">Delete</button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="add-button"
  mat-raised-button color="accent" [routerLink]="['/medecins/insert']">
    <mat-icon>add</mat-icon> Add Medecin
  </button>
  <!-- <div class="text-center add-button">
    
  </div> -->

</div>
